.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10%;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #ddd;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #e7f3ff;
  }
  
  .table .text-success {
    color: green;
  }
  
  .table .fs-4 {
    font-size: 1.5rem;
  }
  .log {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f50000;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 90%;
  }